---
layout: page
---

<body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
        <header class="page-header">

            <!-- You can turn off the avatar in _config.yml by setting to false -->
            <!--{% if site.resume_avatar == 'true' %}-->
            <!--<img src="images/avatar.jpg" alt="my photo" class="avatar no-print" itemprop="image">-->
            <!--{% endif %}-->

            <!-- Your name is defined in the _config.yml file -->
            <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

            <!-- Contact buttons don't work in print, configure in the _config.yml file, remove "print-only" to display always. -->
            <div class="header-contact-info print-only">
              <p>{{ site.resume_header_contact_info }}</p>
            </div>

            <div class="title-bar no-print">
              <h2 class="header-title" itemprop="jobTitle">{{site.resume_title}}</h2>
            </div>

            <div class="executive-summary no-print" itemprop="description">
              {{ site.resume_header_intro }}
            </div>

            {% if site.resume_looking_for_work == 'yes' %}
            <a href="mailto:{{ site.resume_contact_email }}" class="contact-button no-print" itemprop="email">Contact me</a>
            {% elsif site.resume_looking_for_work == 'no' %}
            <a class="contact-button not-looking no-print">I'm not looking for work right now.</a>
            {% else %}
            {% endif %}

        </header>

        {% if site.resume_section_experience %}
            <!-- begin Experience -->
            <section class="content-section">

                <header class="section-header">
                    <h2>Experience</h2>
                </header>

                {% for job in site.data.experience %}
                    <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                      <h3 class="resume-item-title" itemprop="name">{{ job.company }}</h3>
                      <h4 class="resume-item-details" itemprop="description">{{ job.position }} &bull; {{ job.duration }}</h4>
                      <p class="resume-item-copy">{{ job.summary }}</p>
                    </div><!-- end of resume-item -->
                {% endfor %}

            </section>
            <!-- end Experience -->
        {% endif %}


      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">
        <header class="section-header">
          <h2>Education</h2>
        </header>

        {% for education in site.data.education %}
        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">{{ education.uni }}</h3>
          <h4 class="resume-item-details group" itemprop="description">{{ education.degree }} &bull; {{ education.year }}</h4>
          <!-- <h5 class="resume-item-details award-title" itemprop="description">{{ education.award }}</h5> -->
          <p class="resume-item-copy" itemprop="description">
            <ul class="resume-item-list">
              {% for award in education.awards %}
              <li>{{ award.award }}</li>
              {% endfor %}
            </ul>


          <p class="resume-item-copy">{{ education.summary }}</p>
        </div>
        {% endfor %}
      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        {% for association in site.data.associations %}
        <div class="resume-item" itemscope itemprop="memberOf" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">{% if association.url %}<a href="{{ association.url }}">{{ association.organization }}</a>{% else %}{{ association.organization }}{% endif %}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ association.role }} &bull; {{ association.year }}</h4>
          <p class="resume-item-copy">{{ association.summary }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Associations -->
      {% endif %}
	  
	  
      {% if site.resume_section_publications%}
      <!-- begin Publications -->
      <section class="content-section">
        <header class="section-header">
          <h2>Publications</h2>
        </header>

        {% for publication in site.data.publications%}
        <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
          <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
          <h3 class="resume-item-title" itemprop="title">{{ publication.title }} 
		  {% if publication.pdf %}
			<a class="resume-item-icon-link" href={{publication.pdf}} target="_blank">
			<img class="resume-item-icon" src="assets/icons/icon-adobe-pdf.svg" title="PDF" alt="PDF"></a>
		  {% endif %}
		  {% if publication.code %}
			<a class="resume-item-icon-link" href={{publication.code}} target="_blank">
			<img class="resume-item-icon" src="assets/icons/icon-github-code.svg" title="Code" alt="Code"></a>
		  {% endif %}
		  </h3>
		<h4 class="resume-item-name" itemprop="name">
		  {% for author in publication.authors%}
		  {% if forloop.last == true %}
		  and
		  {% endif %}
		  {% if author contains 'Duc Nguyen' %}<u>{{author}}</u>{% else %}{{author}}{% endif %}{% if forloop.last == true %}{% else %}, {% endif %}
		  {% endfor %}
		</h4>
          <p class="resume-item-copy" itemprop="description">{{ publication.venue }} ({{ publication.year }}) </p>
          {% if publication.note %}<p lass="resume-item-copy" itemprop="description">{{ publication.note }}</p>{% endif %}
        </div>
        {% endfor %}

      </section>
      <!-- end Publications -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>
        <p>Below is the list of programming languages that I enjoy and have used in certain non-trivial projects. 
          Those that I am at hello-world level or feel painful when using will not make it here. </p>
        {% for skill in site.data.skills %}
        <div class="resume-item">
          <h4 class="resume-item-details">{{ skill.skill }}</h4>
          <ul class="resume-item-list">
            {% for desc in skill.description %}
            <li>{{ desc }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Award -->
      <section class="content-section">

        <header class="section-header">
          <h2>Awards</h2>
        </header>

        {% for award in site.data.awards %}
          <div class="resume-item">
			      {% if award.award %}
				      <h3 class="resume-item-title" itemprop="award">{{ award.award }}</h3>
			      {% endif %}
			      {% if award.organization and award.year %}
				      <h4 class="resume-item-details">{{ award.organization }} &bull; {{ award.year }}</h4>
			      {% endif %}
			      {% if award.summary %}
				      <p class="resume-item-copy">{{ award.summary }}</p>
			      {% endif %}
        </div>
        {% endfor %}

      </section>
      <!-- end Award -->
      {% endif %}

      <!-- activities -->
      <section class="content-section">

        <header class="section-header">
          <h2>Activities</h2>
        </header>

        {% for activity in site.data.activities %}
        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">{{ activity.activity }}</h3>
          <h4 class="resume-item-details">{{ activity.description }} &bull; {{ activity.date }}</h4>
        </div>
        {% endfor %}

      </section>
      <!-- end activities -->

      {% if site.resume_section_interests %}
      <!-- begin Interests -->
      <section class="content-section">

        <header class="section-header">
          <h2>Hobbies</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            {% for interest in site.data.interests %}
            <li>{{ interest.description }}</li>
            {% endfor %}
          </ul>
        </div>

      </section>
      <!-- end Interests -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            {% for link in site.data.links %}
            <li><a href={{ link.url }} itemprop="url">{{ link.description }}</a></li>
            {% endfor %}
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      {% if site.resume_print_social_links %}
      <!-- begin Print Social Links -->
      <section class="content-section print-only">

        <header class="section-header">
          <h2>Social Links</h2>
        </header>

        <div class="resume-item">
        {% include print-social-links.html %}
        </div>

      </section>
      <!-- end Print Social Links -->
      {% endif %}

      <h5>Last updated: October 2022</h5>
    </div>

</body>
