<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">
<g>
	<defs>
		<rect id="SVGID_1_" width="28" height="28"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  overflow="visible"/>
	</clipPath>
	<path clip-path="url(#SVGID_2_)" fill="#D1CECC" d="M4.5,8h19l-5,8.5h-9L4.5,8z M10.5,14.49h7l6-6.49h-19L10.5,14.49z M28,14
		c0,7.731-6.269,14-14,14C6.268,28,0,21.731,0,14C0,6.268,6.268,0,14,0C21.731,0,28,6.268,28,14 M4.5,8v12.5h19V8"/>
</g>
</svg>